body {
    
    background-color: #b8e994;
}

#headerSection {
    padding: 5px;
    
}
#headerSection h1{
    font-family: cursive;

}

input{
    padding: 10px;
    border-radius: 5px;
    
}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
}

#loginbtn{
    padding: 5px;
    border-radius: 5px;
    background-color: #6a89cc;
    color: white;
    border-radius: 5px;
}